mixin places(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  // div(class=spec.__class)&attributes(attributes)
  //   p This is an example paragraph for the places module
  .detail-results
    .detailedCard
      // each below class has an id= #cardItem-{i}
      // each item is inside a .w3-container
    div(id='map')


mixin responseResults()
  .responseResults.slider-holder.w3-container
    .div-img-holder
    ul.w3-pagination.button-holder


